<div class="todo">

    <h1 class="text-center pt-5">

        Todo-List
    </h1>
    
    <div class="container d-flex flex-column justify-content-center align-items-center">

        <div class="formContainer">
              <fieldset class="fieldInput ">
                <input class="form-input" type="email" placeholder="" [(ngModel)]="newTaskTitle">
                <button type="submit" class="form-submit"><i class="bi bi-plus-lg addbtn" (click)="addNewTask()"></i></button>
              </fieldset>
        </div>

        <div class="box p-5 scrollbar scrollbar-indigo bordered-indigo form-check form-switch ">
            <div class="d-flex justify-content-between fw-bold fs-5 mb-5">
                <p style="margin-left: -15px;">Status</p>
                <p>Content</p>
                <p>Delete</p>
            </div>
            <ul class="list">

                @for(item of todos;track item.id)
                {
                    <li class="d-flex justify-content-between" >
                        <input class="form-check-input" type="checkbox" role="switch" id="">
                        <p [ngClass]="item.completed ? 'compl' : 'strikethrough'">{{item.completed ? "" : ""}}{{item.title}}</p>
                        <a title="Remove" (click)="delete(item.id)"><i class="bi bi-trash text-danger"></i></a>
                    </li>
                    <div class="d-flex" style="height: 10px;">
                        <div class="hr"></div>
                    </div>
                }
            </ul>
        </div>
        
    </div>

</div>
