body {
    font-family: Montserrat, sans-serif;
}

.navbar-nav .nav-item:hover {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.icons{
  text-decoration:none ;
  color: white;
  font-size: 35px;
  margin-left: 25px;
}